body {
    background-color: #777;
    color: #ebebeb;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px
}

#header {
    background-color: lightgray;
    text-align: center;
    margin: 10px 0;
    height: 60px;
    padding-top: 36px;
}

#nav {
    background-color: lightgray;
    text-align: center;
    margin: 10px 0;
    height: 60px;
    padding-top: 36px;
}
#section {
    background-color: lightgray;
    text-align: center;
    margin: 10px 0;
    height: 100%;
    padding-top: 36px;
    width: 495px;
    /* float: left; */
    position: absolute;

}
#aside {
    background-color: lightgray;
    text-align: center;
    margin: 10px 0;
    height: 100%;
    padding-top: 36px;
    width: 450px;
   /* float: right;*/
    position: absolute;
    right:0;
}
#footer {
    background-color: lightgray;
    text-align: center;
    margin: 10px 0;
    height: 60px;
    width: 100%;
    padding-top: 36px;
    /* float:left; */
    margin-top: 67px;
}
#article {
    position: absolute;
    width: 480px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color:#777;

    margin: 20px auto;
    height: 150px;
    padding-top: 10px;
    
}
#h1h2h3 {
    position: absolute;
    background-color: lightgray;
    height: 35px;
    width: 440px;
    left: 0;
    right: 0;
    margin: 0 auto;
    
    padding-top: 12px;
    margin-top: 10px;
}
#p {
    position: absolute;
    background-color: lightgray;
    height: 35px;
    width: 440px;
    top: 90px;
    left: 0;
    right: 0;
    margin: 0 auto;
    
    padding-top: 12px;
    margin-top: 10px;
}
.twoBoxes{
    position: relative;
    height: 210px;
}
.wrap {
    /*padding: 0 20px;*/
    width: 960px;
    margin: 0 auto;
}